#mainTopic{
    color: blue;
}
*{
    align-content: center;
}

h1, h3, h5{
    font-family: Georgia;
}

.para{
    background-color: white;
    color: cornflowerblue;
}

div button{
    background-color: purple;
    color: azure;
}
div button:hover{
    background-color: yellow;
    color: blue;
}

p:nth-of-type(2n+1){
    color: red;
}

h1::first-letter{
    color: red;
}

#yes:checked + label{
    color: green;
}

/* h1<.main<div.main<#mainContent */