body{
    background-color: wheat;
    font-family: Georgia;
}
p{
    color:red;
    line-height: 30px;
}
h1, h3, h4{
    text-align: center;
}
h3{
    color:black;
}

a{
    color: green;
    text-decoration: none;
}
button{
    background-color: rgb(255,255,255) ;
    color: blueviolet;
}
textarea{
    color:#000;
}
span{
    text-decoration: underline;
}