.loader{
  border: 16px solid color(srgb red green blue);
  border-left: 16px solid goldenrod;
  border-radius:50%;
  height: 120px;
  width: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}