h2{
    color: rgb(165, 116, 42);
}
span{
    color: rgb(165, 116, 42);
}

.card{
    width: 400px;
    border: 2px, solid black;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
}

img{
    width: 100%;
    border-radius: 25px;
}
#pets{
    display: flex;
    justify-content: space-evenly;

}

h4{
    text-align: rigth;
    color:aqua ;
}

@media (max-width: 375px){
    #pets{
        flex-wrap: wrap;
    }
    
}