#outer{
  height: 50px;
  width: 900px;
  border:2px solid green;
  background-color: pink;
  border-radius: 10px ;
  display: flex;
  align-content: center;
  justify-content: flex-start;

}
.box{
  height:50px;
  width: 80px;
  font-size: 24px;
  margin-left: 5px;
  line-height: 50px;
}



