*{
    font-family: 'Courier New', Courier;
}

h1, h3{
    color: #b92b27
}
#login{
    background-color: white;
}
#signup{
    background-color: #b92b27;
    color: white;
}

.upvote{
    background-color: green;
    color : white;
}

.post a{
    color: red;
    background-color: yellow;
}
nav ul li a{
    color: green;
}
p + h3{
    color: red;
}
.upvote + button{
    background-color: green;
    color: white;
}

div > input{
    color : blue;
}
input[type="text"]{
    color: red;
}
input[type="password"]{
    color: green;
}
input[type]{
    background-color: ghostwhite;
}